@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    text-transform: uppercase;
}

.logo {
    width: 150px;
}

.nav-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
}

.nav.visible {
    transform: translateX(0);
}

.nav-black {
    background-color: rgb(34, 31, 31);
    width: 60%;
    max-width: 480px;
    min-width: 320px;
    transition-delay: .4s;
}

.nav-black.visible{
    transition-delay: 0s;
}

.nav-red {
    background-color: rgb(229, 9, 20);
    width: 95%;
    transition-delay: .2s;
}

.nav-red{
    transition-delay: .2s;
}

.nav-white {
    background-color: #fff;
    width: 95%;
    padding: 40px;
    position: relative;
    transition-delay: 0s;
}

.nav-white.visible{
    transition-delay: .4s;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 30px;
    opacity: .4;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    margin: 20px 0;
}

.list li a{
    color: rgb(34, 31, 31);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.list li ul{
    list-style: none;
    padding-left: 20px;
}