@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #222;
    padding-bottom: 20px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
    position: fixed;
    background-color: #222;
    top:0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
}

.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: all .3s ease-in-out;
}

.nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a{
    text-decoration: none;
    color: #fff;
    padding: 7px 15px;
    transition: all .3s ease-in-out;
}

.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3)
}

.nav.active a{
    color: #000;
}

.nav.active .container{
    padding: 10px 0;
}

.nav a.current,
.nav a:hover{
    color: #c0392b;
    
}

.hero{
    background-image: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;   
}

.hero h1{
    font-size: 3rem;
    margin: -20px 0 20px
}

.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2, .content h3{
    font-size: 150%;   
    margin: 20px 0;
}

.content p{
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}

