*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url(img/atikh-bana-_KaMTEmJnxY-unsplash.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    filter: blur(0);
}

.loading-text{
    color: #000;
    font-size: 2rem;
}