@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #e1e1e1;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    text-align: center; 
}

.key{
    border: 1px solid #999;
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    display: inline-flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
}

.key small{
    position: absolute;
    width: 100%;
    top: -25px;
    left: 0;
    text-align: center;
    font-size: 14px;
    columns: #555;
    
}