*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    background-color: steelblue;
}

.empty{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 3px solid #000;
    background-color: #fff;
}

.fill{
    background: url('https://images.unsplash.com/photo-1583583704670-1642f3ee22d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80')center center/cover;
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold{
    border: 5px solid #ccc;
}

.hovered{
    background-color: #333;
    border-color: #fff;
    border-style: dashed;
}


@media (max-width: 800px){
    body{
        flex-direction: column;
    }
}