@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background-color: darksalmon;
}

div{
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .1);
    font-size: 1.5rem;
}

input{
    width: 50px;
    padding: 5px;
    font-size: 1.5rem;
    background-color: darksalmon;
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
}