@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle-container{
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 200px;
}

.toggle{
    visibility: hidden;
}

.label{
    position: relative;
    width: 80px;
    height: 40px;
    background-color: #d0d0d0;
    display: inline-block;
    border-radius: 50px;
    margin: 0 15px;
    cursor: pointer;
}

.toggle:checked + label{
    background-color: #8344ad;
}

.ball{
    height: 34px;
    width: 34px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px; 
    animation: slideOff .3s linear forwards;
}

.toggle:checked + .label .ball{
    animation: slideOn .3s linear forwards;
}

@keyframes slideOn{
    0%{
        transform: translateX(0) scale(1)
    }

    50%{
        transform: translateX(20px) scale(1.2)
    }

    100%{
        transform: translateX(40px) scale(1)
    }
}

@keyframes slideOff{
    0%{
        transform: translateX(40px) scale(1)
    }

    50%{
        transform: translateX(20px) scale(1.2)
    }

    100%{
        transform: translateX(0) scale(1)
    }
}