@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de)
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background-color: #fff;
    color: #2b1055;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 100;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 10;
}

#text{
    position: absolute;
    right: -350px;
    color: #fff;
    font-size: 7.5vw;
    white-space: nowrap;
    z-index: 9;
}

#btn{
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 30px;
    color: #2b1055;
    font-size: 1.5em;
    border-radius: 30px;
    z-index: 9;
    transform: translateY(100px)
}

.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    margin-bottom: 10px;
    color: #fff;
    font-size: 3.5em;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}