@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(155, 89, 182, .7);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.phone{
    position: relative;
    overflow: hidden;
    border: 3px solid #eee;
    border-radius: 15px;
    height: 600px;
    width: 340px;
}

.phone .content{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 60px);
    width: 100%;
    object-fit: cover;
    transition: opacity .4s ease;
}

.phone .content.show{
    opacity: 1;
}

nav{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
}

nav ul{
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    background-color: #fff;
}

nav ul li{
    color: #777;
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding: 10px;
}

nav ul li p{
    font-size: 12px;
    margin: 2px 0;
}

nav ul li:hover,
nav ul li.active{
    color: #8e44ad;
}