@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&family=Roboto:wght@500&display=swap');
*{
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #333;
}

.container{
    background-color: #fafafa;
    transform-origin: top left;
    transform: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav{
    transform: rotate(-20deg);
    transition: transform .4s ease-in;
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle{
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 30px;
    color: #fff;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left: 60%;
}

.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content img{
    max-width: 100%;
}

.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content h1{
    margin: 0;
}

.content small{
    color: #333;
    font-style: italic;
}

.content p{
    line-height: 1.5;
    color: #333;
}

nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 10;
}

nav ul{
    list-style: none;
    padding-left: 30px;
}

nav ul li{
    text-transform: uppercase;
    color: #fff;
    margin: 30px 0;
    transform: translateX(-100%);
    transition: transform .4s ease-in;
}

nav ul li i{
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}
nav ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);
}

.container.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: .1s;
}


.container.show-nav .circle{
    transform: rotate(-70deg);
}