*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(128, 0, 128, 0.635);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.btn{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: purple;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5rem;
}