@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    background-color: rebeccapurple;
}

.btn{
    background-color: #fff;
    color: rebeccapurple;
    font-family: inherit;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.btn:active{
    transform: scale(.98);
}

#toasts{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast{
    background-color: #fff;
    /* color: rebeccapurple; */
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: .5rem;
}

.toast.info{
    color: rebeccapurple;
}

.toast.success{
    color: green;
}   

.toast.error{
    color: red;
}