@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 80vw;
    justify-content: center;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    cursor: pointer;
    border-radius: 50px;
    flex: .5;
    margin: 15px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 24px;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width:480px){
    .container{
        width: 100vw;
    }
     .panel:nth-of-type(4), .panel:nth-of-type(5){
         display: none;
     }
}